run = "npm start"
entrypoint = "build.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run build && PORT=80 node serve.js"]
build = ["npm", "run", "build"]

[[ports]]
localPort = 3000
externalPort = 80
